<div class="container">
	<div class="row">
		<div class="col-md-6 ml-auto mr-auto col-xs-12 mb-5">
			<!-- Material form login -->
			<mdb-card>
				<mdb-card-header class="primary-color white-text text-center py-4">
					<h5>
						Iniciar Sesión
					</h5>
				</mdb-card-header>
				<!--Card content-->
				<mdb-card-body class="px-lg-5 pt-0">
					<!-- Form -->
					<form autocomplete="off" [formGroup]="formGroup" class="formColor">
						<!-- Nombre -->
						<div class="md-form">
							<input name="nombre"
								   formControlName="nombre"
								   type="text" 
								   id="nombre" 
								   class="form-control" 
								   required
								   minlength="3"
								   mdbInput>
							<label for="nombre">Nombre </label>
							<span *ngIf="formGroup.get('nombre').hasError('required') && formGroup.get('nombre').pristine === false" class="messageAlert">El nombre es requerido</span>
							<span *ngIf="formGroup.get('nombre').hasError('minlength') && formGroup.get('nombre').pristine === false" class="messageAlert">El nombre debe ser de al menos 3 caracteres</span>
						</div>
						<!-- Biografía -->
						<div class="md-form">
                            <textarea  name="biografia"
                                    rows="2"
									formControlName="biografia"
									type="text" 
									id="biografia" 
									class="md-textarea form-control" 
                                    mdbInput></textarea>
							<label for="biografia">Biografía</label>
							<span *ngIf="formGroup.get('biografia').hasError('required') && !formGroup.get('biografia').pristine" class="messageAlert">La biografía es requerida</span>
							<span *ngIf="formGroup.get('biografia').hasError('minlength') && !formGroup.get('biografia').pristine" class="messageAlert">La biografía debe ser de al menos 80 caracteres</span>
                        </div>
                        <!-- Imagen -->
                        <div class="md-form">
                            Selecciona una imagen (Opcional)
                            <br>
                            <br>
                            <input  name="imagen"
                                    formControlName="imagen"
                                    type="file" 
                                    id="imagen" 
                                    class="file-path"
									mdbInput
									(change)="changeArchivo($event)"
                                    >  
                        </div>
                        <!-- Aparición -->
                        <div class="md-form">
							<input  name="aparicion"
									formControlName="aparicion"
									type="date" 
									id="aparicion" 
									class="form-control" 
                                    mdbInput>
							<label for="aparicion">Aparición</label>
                        </div>
                        <div class="md-form">
							<input  name="casa"
									formControlName="casa"
									type="text" 
									id="casa" 
									class="form-control" 
                                    mdbInput>
							<label for="casa">Casa</label>
                        </div>
						<!-- Sign in button -->
						<button (click)="enviar()"
								[disabled]="formGroup.invalid"
								mdbBtn 
								color="info"  
								rounded="true" 
								block="true"
								class="my-4 waves-effect z-depth-0" 
								mdbWavesEffect 
								type="button">Crear</button>
						<!-- Register -->
                    </form>
					<!-- Form -->
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
</div>
