<div class="container">
	<div class="row mb-5">
		<div class="col-md-12 text-center">
			<mdb-card class="text-center">
				<mdb-card-body>
					<mdb-card-title>
						<h3>Oops!!</h3>
					</mdb-card-title>
					<br>
					<mdb-card-text>
						No se encontró ningún contenido en la dirección que proporcionaste.
					</mdb-card-text>
					<a routerLink="/home" mdbBtn color="primary">Inicio</a>
				</mdb-card-body>
				<mdb-card-footer class="text-muted">Carlos Martínez - &copy; 2021</mdb-card-footer>
			</mdb-card>
		</div>
	</div>
</div>