<div class="container">
	<div class="row mb-5">
		<div class="col-md-12 text-center">
			<mdb-card class="text-center">
				<mdb-card-header>
					<h3>Heroes App</h3>
				</mdb-card-header>
				<mdb-card-body>
					<mdb-card-title>
						<h5>Carlos Martínez</h5>
						Desarrollador de Java & Angular
					</mdb-card-title>
					<br>
					<br>
					<mdb-card-text>
						Heroes App es una aplicación desarrollada con Angular 11 para consumir el servicio RESTFul de héroes
						desarrollado con SpringBoot por el mismo autor.
						<br>
						Puede hechar un vistazo a los proyectos en mi repositorio personal en el siguiente enlace:
					</mdb-card-text>
					<a href="https://github.com/Carlos-Martinezz" target="_BLANK" mdbBtn color="primary">Carlos Martínez - GitHub</a>
				</mdb-card-body>
				<mdb-card-footer class="text-muted">Carlos Martínez - &copy; 2021</mdb-card-footer>
			</mdb-card>
		</div>
	</div>
</div>